/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header {
    padding: 9px 0;
}
.m_nav h1 {
    font-size: 20px;
}
.menu ul li a {
    padding: 12px 2px !important;
} 
.btn_dd {
    width: 248px;
    padding: 5px 10px;
}  
.btn_dd[data-bs-popper] {
    top: -12px;
    left: 37PX;
}
/*banner start*/
.slider {
    margin: 120px 0 120px;
}  
.slider h1 {
    font-size: 27px;
}
.slider p {
    padding: 25px 0;
}
.btn_cm {
    padding: 15px 15px;
}
/*welcome start*/
.welcome{
    padding: 60px 0 80px;
}
.cm_h1{
    font-size: 25px;
}
.wel_p {
    padding-top: 30px;
}
/*about start*/ 
.about {
    padding-bottom: 80px;
}
.about_img {
    margin-bottom: 40px;
}
.about_text {
    margin-left: 0;
}
.btn_cm {
    padding: 9px 9px;
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
header {
    padding: 9px 0;
}
.menu ul li a {
    padding: 12px 2px !important;
}   
.btn_dd[data-bs-popper] {
    top: -12px;
    left: 50PX;
}
/*banner start*/
.slider {
    margin: 135px 0 135px;
}  
.slider h1 {
    font-size: 42px;
}
.slider p {
    padding: 30px 45px 30px 0;
}
/*welcome start*/
.welcome {
    padding: 60px 0 80px;
}
.wel_p {
    line-height: 25px;
    padding-top: 30px;
}
/*about start*/ 
.about {
    padding-bottom: 80px;
}
.about_img {
    margin-bottom: 40px;
}
.about_text {
    margin-left: 0;
}
.btn_cm {
    padding: 9px 9px;
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a {
    padding: 12px 2px !important;
}	
.btn_dd[data-bs-popper] {
    top: -12px;
    left: 50PX;
}
/*banner start*/
.slider {
    margin: 160px 0 160px;
}  
.slider h1 {
    font-size: 42px;
}
.slider p {
    padding: 30px 151px 30px 0;
}
/*welcome start*/
.welcome {
    padding: 60px 0 80px;
}
/*about start*/ 
.about {
    padding-bottom: 100px;
}
.about_img {
    margin-bottom: 40px;
}
.about_text {
    margin-left: 0;
}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*banner start*/  
.slider {
    margin: 180px 0 180px;
}  
.slider h1 {
    font-size: 48px;
}
/*about start*/ 
.about_text p {
    margin-top: 12px;
}
.btn_about {
    margin-top: 18px;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
/*about start*/ 
.about_text p {
    margin-top: 50px;
    line-height: 28px;
}
.btn_about {
    margin-top: 50px;
}
}